
  .md-typeset h2 {
      color: #0066CC;
      font-size: 1.4em;
      font-weight: 600;
  }
  .md-typeset h3 {
    color: darkolivegreen;
    font-size: 1.1em;
    font-weight: 600;    
}
.md-typeset h4 {
    color: #0066cc;
    font-size: 1.0em;
    font-weight: 400;
}
.md-typeset a {
    color: mediumturquoise;
}